{% extends 'app/version2base.html' %}

{% block content %}
<table class="table">
	<thread>
		<tr>
			<th scope="col">Emotion</th>
			<th scope="col">Color</th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>{{ emotion_one }}</td>
			<td>{{ color_name_one }}</td>
		</tr>
		<tr>
			<td>{{ emotion_two }}</td>
			<td>{{ color_name_two }}</td>
		</tr>
		<tr>
			<td>{{ emotion_three }}</td>
			<td>{{ color_name_three }}</td>
		</tr>
		<tr>
			<td>{{ emotion_four }}</td>
			<td>{{ color_name_four }}</td>
		</tr>
		<tr>
			<td>{{ emotion_five }}</td>
			<td>{{ color_name_five }}</td>
		</tr>
		<tr>
			<td>{{ emotion_six }}</td>
			<td>{{ color_name_six }}</td>
		</tr>

{% endblock %}